.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
  
  .product-card {
    border: 1px solid #ccc;
    position:relative;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    transition: transform 0.3s ease-out;
  }

  .product-card:hover{
    transform: scale(1.05);
  }
  
  .product-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  .product-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
    padding: 10px;
  }
  
  .product-info {
    font-size: 1rem;
    margin: 0.5rem 0;
    padding: 10px;
  }
  
  .product-button {
    background-color: #fff;
    border: none;
    color: #cda9ac;
    border: 1px solid #cda9ac;
    border-radius: 2px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0px 0px 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } 
  
  .product-button:hover {
    background: #BA7E7E;
    transition: all 0.4s ease-in-out;
    color:#fff;
  }

  .favorited{
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: small;
    position: absolute;
    top:10px;
    right: 10px;
  }

  .favorites-button {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 0px 0px 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top:10px;
    right: 10px;
  }
  
  .favorites-button:hover {
    background-color: transparent;
  }